#!/bin/sh

branch_tag="$(
    git symbolic-ref --short HEAD |
        tr '[:upper:]' '[:lower:]' |
        sed 's/[^a-z0-9-]/-/g'
)"

test -n "$branch_tag" && export BRANCH_TAG="$branch_tag" && echo "BRANCH_TAG=$BRANCH_TAG"

# shellcheck disable=SC2024
grep -q host.docker.internal /etc/hosts ||
    sudo tee --append /etc/hosts <./etc/hosts >/dev/null
